[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
cymysql = "*"
flask-sqlalchemy = "*"
requests = "*"
flask-restful = "*"
flask-login = "*"
pandas = "*"
pyyaml = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
